<div class="modal-dialog modal-statistics" id="class-statistics-display">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-table"></i>&nbsp;Class statistics with respect to the {{inputs.land_cover_dataset}}</h3>
    </div>
    <div class="modal-body modal-body-about">
    {{#if is_fetching }}
      <p class="text-danger" id="alert">
        <i class="fa fa-cog fa-spin"></i> Loading data ...
      </p>
    {{else}}{{#if fetch_failed }}
      <p class="text-danger" id="alert">
        <i class="fa fa-warning"></i> Failed to load the data from the server!
      </p>
    {{else}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-top-left">
            <table class="stat-table stat-table-left">
              <tr><td class="stat-top-left-cell">Land Cover Class</td><td class="stat-class-label">Coverage</td></tr>
            </table>
        </div>
        <div class="col-top-body">
          <div class="col stat-top-row">
            <table class="stat-table stat-table-body">
              <tr>{{#each classes}}<td class="stat-class-label{{#if this.highlighted }} stat-highlighted{{/if}}">{{ this.label }}</td>{{/each}}<td></td></tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-left">
          <table class="stat-table stat-table-left">
            {{#each lc_classes}}
            <tr>
              <td class="stat-lc-class-label{{#if this.highlighted }} stat-highlighted{{/if}}" title="{{ this.label }}">{{ this.label }}</td>
              <td class="stat-number{{#if this.highlighted }} stat-highlighted{{/if}}">{{ this.formatted }}</td>
            </tr>
            {{/each}}
          </table>
        </div>
        <div class="col-body" onScroll="this.scrollLeft=$('div.col-top-body').scrollLeft(this.scrollLeft).scrollLeft();this.scrollTop=$('div.col-left').scrollTop(this.scrollTop).scrollTop();">
          <table class="stat-table stat-table-body">
            {{#each lc_classes}}
            <tr>{{#each this.counts}}<td class="stat-number{{#if this.highlighted }} stat-highlighted{{/if}}">{{ this.formatted }}</td>{{/each}}<td></td></tr>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
    {{/if}}{{/if}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>
