<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw {{#if editable }}fa-pencil{{ else }}fa-eye{{/if}}"></i>&nbsp;Job Viewer</h3>
</div>
<div class="panel-body">
  <h5 class="object-metadata"><i class="fa fa-fw fa-gear"></i>&nbsp;{{#if name }}<strong>{{ name }}</strong><br>({{ identifier }}){{ else }}<strong>{{ identifier}}</strong>{{/if}}</h5>
  {{#if description }}<p class="object-metadata">{{ description }}</p>{{/if}}
  <ul class="list-group">
    {{#unless is_submittable }}
    <li class="list-group-item" id="btn-process">
      <span title="{{ status_info }}"><i class="fa fa-fw {{ icon }}"></i>&nbsp;{{ status_code }}<br>{{ status_message }}</span>
    </li>
    {{/unless}}
    <li class="list-group-item" id="box-process">
      <span {{#if process.description }}title="{{ process.description }}"{{/if}}><i class="fa fa-fw fa-gear"></i>&nbsp;Process:&nbsp;{{#if process.name }}{{ process.name }}<br>({{ process.identifier }}){{ else }}{{ process.identifier}}{{/if}}</span>
    </li>
    <li class="list-group-item" id="box-sits">
      <span {{#if time_series.description }}title="{{ time_series.description }}"{{/if}}><i class="fa fa-fw fa-list"></i>&nbsp;SITS:&nbsp;{{#if time_series.name }}{{ time_series.name }}<br>({{ time_series.identifier }}){{ else }}{{ time_series.identifier}}{{/if}}</span>
    </li>
    <li class="list-group-item" id="box-inputs">
      {{#if is_submittable }}
        {{#if _inputs}}
        <form class="form-horizontal" role="form">
        {{#each _inputs}}
          <div class="form-group" id="{{this.identifier}}"{{#if this.description}} title="{{ this.description }}"{{/if}}>
          <label class="col-sm-6 control-label">{{this.name}}</label>
          <div class="col-sm-6">
          {{#if this.enum }}
            <select class="form-control input-sm process-input" id="{{this.identifier}}">{{#each this.enum }}<option value="{{this}}">{{this}}</option>{{/each}}</select>
          {{ else }}
            <input type="text" class="form-control input-sm process-input" id="{{this.identifier}}">
          {{/if}}
          </div>
          </div>
        {{/each}}
        </form>
        {{else}}
        <p>This process does not require any input.</p>
        {{/if}}
      {{else}}
        {{#if _inputs}}
          <table class="table table-condensed inputs">
            <thead>
            <tr><th>Input Parameter</th><th>Value</th></tr>
            </thead>
            <tbody>
          {{#each _inputs}}
            <tr><td>{{this.name}}</td><td>{{this.value}}</td></tr>
          {{/each}}
            </tbody>
          </table>
        {{else}}
        <p>This job has no input.</p>
        {{/if}}
      {{/if}}
    </li>
    {{#if is_completed }}
    <li class="list-group-item" id="box-inputs">
      <i class="fa fa-fw fa-sign-out"></i>&nbsp;Outputs:
      {{#if is_empty }}
        <p>This job has no output.</p>
      {{else}}
        <p>This job has some output.</p>
      {{/if}}
    {{/if}}
    </li>
  </ul>
</div>
<div class="panel-footer">
  {{#if is_submittable }}
  <span class="btn-group" role="button">
    <button type="button" class="btn btn-primary" id="btn-submit"><i class="fa fa-fw fa-thumbs-up" title="Proceed with the job execution."></i>&nbsp;Execute</button>
  </span>
  <span class="btn-group" role="button">
    <button type="button" class="btn btn-default" id="btn-save"><i class="fa fa-fw fa-save" title="Save the changed inputs."></i>&nbsp;Save</button>
  </span>
  {{/if}}
  {{#if is_terminable }}
  <span class="btn-group" role="button">
    <button type="button" class="btn btn-default disabled" id="btn-abort"><i class="fa fa-fw fa-times" title="Terminate execution execution."></i>&nbsp;Abort</button>
  </span>
  {{/if}}
  <span class="btn-group dropup" style="float:right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other actions ...</button>
    <ul class="dropdown-menu">
      <li><a id="btn-clone"><i class="fa fa-clone"></i>&nbsp;&nbsp;Clone job</a></li>
      <!--li><a id="btn-open-manager"><i class="fa fa-list"></i>&nbsp;&nbsp;Change job</a></li-->
      <!--li><a id="btn-refetch"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Reload</a></li-->
      <li {{#if is_terminable }}class="disabled"{{/if}}><a id="btn-delete"><i class="fa fa-times"></i>&nbsp;&nbsp;Delete job</a></li>
    </ul>
  </span>
{{#if is_terminated}}
  &nbsp;<br>&nbsp;
{{/if}}
</div>
