<span style="height:auto;" {{#if description }}title="{{ description }}"{{/if}}><i class="fa fa-fw fa-gear"></i>&nbsp;&nbsp;{{#if name }}{{ name }}<br>({{ identifier }}){{ else }}{{ identifier }}{{/if}}</span>
