<span class="input-group-addon" id="checkbox">
{{#if is_saving }}
  <i class="fa fa-cog fa-spin" title="Saving status change ..."></i>
{{else}}{{#if in}}
  <i class="fa fa-fw fa-check text-success" title="Included"></i>
{{else}}
  <i class="fa fa-fw fa-times text-danger" title="Excluded"></i>
{{/if}}{{/if}}
</span>
<span class="form-control" id="item" style="height:auto;"><i class="fa fa-fw fa-image"></i>&nbsp;<strong>{{ id }}</strong><br>start:{{ t0 }} &nbsp;&nbsp; stop: {{ t1 }}</span>
