<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-pencil"></i>&nbsp;SITS Editor</h3>
</div>
<div class="panel-body">
  <h5 class="object-metadata"><i class="fa fa-fw fa-list"></i>&nbsp;{{#if name }}<strong>{{ name }}</strong><br>({{ identifier }}){{ else }}<strong>{{ identifier}}</strong>{{/if}}</h5>
  {{#if description }}<p class="object-metadata">{{ description }}</p>{{/if}}
{{#if is_fetching }}
  <p class="text-danger" id="alert">
    <i class="fa fa-cog fa-spin"></i> Loading data ...
  </p>
{{else}}{{#if fetch_failed }}
  <p class="text-danger" id="alert">
    <i class="fa fa-warning"></i> Failed to load the data from the server!
  </p>
{{else}}{{#if is_empty }}
  <p class="text-danger" id="alert">
    The SITS has no product candidate.
  </p>
{{else}}
  <div class="coverage-list" id="coverage-list"></div>
{{/if}}{{/if}}{{/if}}
<div class="panel-footer">
  <span class="btn-group" role="button">
    <button type="button" class="btn btn-default" id="btn-focus"><i class="fa fa-fw fa-crosshairs" title="Zoom to selection extent."></i></button>
  </span>
  <span class="btn-group" role="button" style="margin-left:2em">
    <button type="button" class="btn btn-default" id="btn-first"><i class="fa fa-fw fa-fast-backward" title="Go to first."></i></button>
    <button type="button" class="btn btn-default" id="btn-prev"><i class="fa fa-fw fa-step-backward" title="Go to previous."></i></button>
    <button type="button" class="btn btn-default" id="btn-current"><i class="fa fa-fw fa-location-arrow" title="Scroll to current item."></i></button>
    <button type="button" class="btn btn-default" id="btn-next"><i class="fa fa-fw fa-step-forward" title="Go to next."></i></button>
    <button type="button" class="btn btn-default" id="btn-last"><i class="fa fa-fw fa-fast-forward" title="Go to last."></i></button>
  </span>
  <span class="btn-group dropup" style="float:right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other actions ...</button>
    <ul class="dropdown-menu">
      <li><a id="btn-open-browser"><i class="fa fa-eye"></i>&nbsp;&nbsp;Browse SIST</a></li>
      <li><a id="btn-process"><i class="fa fa-gear"></i>&nbsp;&nbsp;Process SITS</a></li>
      <li><a id="btn-clone"><i class="fa fa-clone"></i>&nbsp;&nbsp;Clone SITS</a></li>
      <!--li><a id="btn-open-manager"><i class="fa fa-list"></i>&nbsp;&nbsp;Change SITS</a></li-->
      <!--li><a id="btn-refetch"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Reload Items</a></li-->
{{#if owned}}
      <li><a id="btn-delete"><i class="fa fa-times"></i>&nbsp;&nbsp;Delete SITS</a></li>
{{/if}}
    </ul>
  </span>
</div>
