<div class="panel-heading">
    <button type="button" class="close"><i class="fa fa-times-circle"></i></button>
    <h3 class="panel-title"><i class="fa fa-fw fa-pencil"></i>&nbsp;SITS Editor</h3>
</div>
<div class="panel-body">
  <h5 {{#if description }}title="{{ description }}"{{/if}}><i class="fa fa-fw fa-list"></i>&nbsp;{{#if name }}<strong>{{ name }}</strong><br>({{ identifier }}){{ else }}<strong>{{ identifier}}</strong>{{/if}}</h5>
  {{#if is_empty }}
    <p class="alert">The SITS has no product candidate.</p>
  {{else}}
    <form name="coverage-selection"><div class="coverage-list" id="coverage-list"></div></form>
  {{/if}}
<div class="panel-footer">
  <button class="btn btn-block" id="btn-focus"  href="#modal-focus" title="Focus to the SIST extent."><i class="fa fa-fw fa-arrows-alt"></i>&nbsp;Focus</button>
</div>
